:root{
  --accent: #037d96;
}

html{
  overflow-x: hidden;
}

canvas{
  /*Display*/

  /*Positioning*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  /*Box Model*/

  /*Typography*/

  /*Manipulation*/

  /*Misc*/

}

body{
  /*Display*/

  /*Positioning*/

  /*Box Model*/
  height: 656900px;

  /*Typography*/

  /*Manipulation*/

  /*Misc*/

}

.fixedBottom{
  /*Display*/

  /*Positioning*/
  position: fixed;
  top: 90vh;
  left: 50%;
  z-index: 9999999;

  /*Box Model*/

  /*Typography*/
  color: #fff;

  /*Manipulation*/
  transform: translateX(-50%);

  /*Misc*/

}
.fixedInfos{
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*Positioning*/
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 99999999;
  height: 2em;
  width: 2em;

  /*Box Model*/
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--accent);
  border-radius: 50%;

  /*Typography*/
  font-size: 1.5em;
  color: var(--accent);

  /*Manipulation*/

  /*Misc*/
  cursor: pointer;
  user-select: none;

}

.link{
  color: #fff;
  text-decoration: none;
}


.modal.is-open {
  display: block;
  z-index: 999999999999;

  position: fixed;
  top: 25%;
  left: 50%;
  padding: 2em;

  /*background: #000;*/
  /*border: 4px solid var(--accent);*/

  /*color: var(--accent);*/

  transform: translateX(-50%);
}
.modal {
  display: none;
}
.modal::before{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 10% 10%, 10% 100%, 0% 100%);
  transition: top 0.2s ease, left 0.2s ease;

  /*Misc*/
  animation: mmfadeIn 0.2s ease-in-out 0.2s forwards 1;

}
.modal::after{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  opacity: 0;
  clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0% 90%, 90% 90%, 90% 0%);
  transition: bottom 0.2s ease, right 0.2s ease;

  /*Misc*/
  animation: mmfadeIn 0.2s ease-in-out 0.2s forwards 1;

}
.modal:hover::before{
  top: 10px;
  left: 10px;
}
.modal:hover::after{
  bottom: 10px;
  right: 10px;
}
.modal__container {
  background-color: rgba(0, 0, 0, 1);
  border: 3px solid var(--accent);
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--accent);
  box-sizing: border-box;
}
.modal__close {
  background: transparent;
  border: 0;
}
.modal__header .modal__close:before { content: "\2715"; }
.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: var(--accent);
}
.modal__btn {
  font-size: .875rem;
  padding: .5rem 1rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.modal__btn-primary {
  background-color: var(--accent);
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}
@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}


nav{
  /*Display*/

  /*Positioning*/
  position: fixed;
  top: 5vh;
  right: 2vw;
  z-index: 9999999;

  /*Box Model*/

  /*Typography*/

  /*Manipulation*/

  /*Misc*/

}
nav > div{
  /*Display*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*Positioning*/

  /*Box Model*/
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--accent);
  margin-bottom: 2vh;
  padding: 0.2em 1em;

  /*Typography*/

  /*Manipulation*/
  transform: translateX(0);
  transition: transform 0.15s ease-in-out;

  /*Misc*/
  filter: drop-shadow(0 0 3px #000);
  cursor: pointer;
}
nav > div::before{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  top: -7px;
  left: -7px;
  height: 30px;
  width: 30px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 10% 10%, 10% 100%, 0% 100%);
  transition: top 0.2s ease, left 0.2s ease;

  /*Misc*/

}
nav > div::after{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  bottom: -7px;
  right: -7px;
  height: 30px;
  width: 30px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0% 90%, 90% 90%, 90% 0%);
  transition: bottom 0.2s ease, right 0.2s ease;

  /*Misc*/

}
nav > div:hover::before{
  top: -12px;
  left: -12px;
}
nav > div:hover::after{
  bottom: -12px;
  right: -12px;
}
nav > div:hover{
  transform: translateX(-1vw);
}
nav > div > img{
  /*Display*/

  /*Positioning*/

  /*Box Model*/
  height: 4vh;
  margin-right: 40px;

  /*Typography*/

  /*Manipulation*/

  /*Misc*/

}
nav > div > p{
  /*Display*/

  /*Positioning*/

  /*Box Model*/

  /*Typography*/
  font-size: 1.2em;
  color: #fff;

  /*Manipulation*/

  /*Misc*/

}


/*=======================
    Descriptions
========================*/
.description{
  /*Display*/
  display: block;

  /*Positioning*/
  position: absolute;
  top: 300px;
  left: 50%;
  width: 30%;
  height: max-content;

  /*Box Model*/

  /*Typography*/
  color: #fff;

  /*Manipulation*/

  /*Misc*/

}
.description > *{
  /*Display*/

  /*Positioning*/
  position: relative;

  /*Box Model*/
  padding: 2em;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid var(--accent);

  /*Typography*/
  z-index: 100;
  text-align: left;

  /*Manipulation*/

  /*Misc*/

}
.description .desc{
  font-size: 0.8em;
}
.description .row{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0.1em 0;
}
.description ._image{
  height: 30px;
  width: 30px;
}
.description::before{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  top: -15px;
  left: -15px;
  height: 100px;
  width: 100px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  clip-path: polygon(0% 0%, 100% 0%, 100% 5%, 5% 5%, 5% 100%, 0% 100%);
  transition: top 0.2s ease, left 0.2s ease;

  /*Misc*/

}
.description::after{
  content: '';

  /*Display*/

  /*Positioning*/
  position: absolute;
  bottom: -15px;
  right: -15px;
  height: 100px;
  width: 100px;

  /*Box Model*/
  z-index: 100;
  background: var(--accent);

  /*Typography*/

  /*Manipulation*/
  clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0% 95%, 95% 95%, 95% 0%);
  transition: bottom 0.2s ease, right 0.2s ease;

  /*Misc*/

}
.description:hover::before{
  top: -25px;
  left: -25px;
}
.description:hover::after{
  bottom: -25px;
  right: -25px;
}


